<div class="container mt-5">
    <!-- SweetAlert Flash Message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        swal({
                            title: "{{ message }}",
                            icon: "success",
                            buttons: {
                                home: {
                                    text: "Home",
                                    value: "home",
                                },
                                addService: {
                                    text: "Add Services",
                                    value: "addService",
                                }
                            }
                        }).then((value) => {
                            switch (value) {
                                case "home":
                                    window.location.href = "{{ url_for('views.home') }}";
                                    break;
                                case "addService":
                                    window.location.href = "{{ url_for('auth.add_service') }}";
                                    break;
                            }
                        });
                    });
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>