<div class="container mt-5">
    <!-- SweetAlert Flash Message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    // Determine icon based on category
                    let icon;
                    switch ("{{ category }}") {
                        case "success":
                            icon = "success";
                            break;
                        case "error":
                            icon = "error";
                            break;
                        case "warning":
                            icon = "warning";
                            break;
                        case "info":
                            icon = "info";
                            break;
                        default:
                            icon = "info";  // Default icon
                    }

                    swal({
                        title: "{{ message }}",
                        icon: icon,  // Set icon dynamically based on category
                        buttons: {
                            home: {
                                text: "Home",
                                value: "home",
                            },
                            addService: {
                                text: "Services",
                                value: "services",
                            },
                            connect: {
                                text: "Connect",
                                value: "connect",
                            }
                        }
                    }).then((value) => {
                        switch (value) {
                            case "home":
                                window.location.href = "{{ url_for('views.home') }}";
                                break;
                            case "services":
                                window.location.href = "{{ url_for('views.services') }}";
                                break;
                            case "connect":
                                window.location.href = "{{ url_for('views.detail') }}";
                                break;
                        }
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>