{% extends "main.html" %} {% block title %}HOME{% endblock %} {% block body %}

<div id="main_slider" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="banner_taital">Find The Best Artisan, Professional, Service Tech in </h1>
            <h1 class="banner_text">YOUR CITY</h1>
            <div class="banner_main">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              <div class="main">
                <!-- Another variation with a button -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"
                      style="background-color: #ffffff; border-color:#ffffff ">
                      <i class="fa fa-search" style="color: #191919;"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="ordernow_bt"><a href="#">Find Artisan</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="banner_taital">Find The Best Artisan, Professional, Service Tech in </h1>
            <h1 class="banner_text">YOUR CITY</h1>
            <div class="banner_main">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              <div class="main">
                <!-- Another variation with a button -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search this blog">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"
                      style="background-color: #ffffff; border-color:#ffffff ">
                      <i class="fa fa-search" style="color: #191919;"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="ordernow_bt"><a href="#">Find Artisan</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="banner_taital">Find The Best Artisan, Professional, Service Tech in </h1>
            <h1 class="banner_text">YOUR CITY</h1>
            <div class="banner_main">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              <div class="main">
                <!-- Another variation with a button -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search this blog">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"
                      style="background-color: #ffffff; border-color:#ffffff ">
                      <i class="fa fa-search" style="color: #191919;"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="ordernow_bt"><a href="#">Find Artisan</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
    <i class="fa fa-angle-left"></i>
  </a>
  <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
    <i class="fa fa-angle-right"></i>
  </a>
</div>
</div>
<!-- banner section end -->
<!-- service section start -->
<div class="service_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="service_taital">Quick Searches</h1>
      </div>
    </div>
    <div class="service_section_2">
      <div class="row">
        <div class="col">
          <div class="service_box">
            <div class="breakfast_img"><img src="{{url_for('static', filename='images/breakfast-img.png')}}"></div>
          </div>
          <h4 class="breakfast_text">Web Developer</h4>
          <div class="seemore_bt"><a href="#">See More</a></div>
        </div>
        <div class="col">
          <div class="service_box">
            <div class="breakfast_img"><img src="{{url_for('static', filename='images/delivery-img.png')}}"></div>
          </div>
          <h4 class="breakfast_text">Pro Photographer</h4>
          <div class="seemore_bt"><a href="#">See More</a></div>
        </div>
        <div class="col">
          <div class="service_box">
            <div class="breakfast_img"><img src="{{url_for('static', filename='images/dinner-img.png')}}"></div>
          </div>
          <h4 class="breakfast_text">Service Electritians</h4>
          <div class="seemore_bt"><a href="#">See More</a></div>
        </div>
        <div class="col">
          <div class="service_box">
            <div class="breakfast_img"><img src="{{url_for('static', filename='images/coffee-img.png')}}"></div>
          </div>
          <h4 class="breakfast_text">Application DeV</h4>
          <div class="seemore_bt"><a href="#">See More</a></div>
        </div>
        <div class="col">
          <div class="service_box">
            <div class="breakfast_img"><img src="{{url_for('static', filename='images/alcohol-img.png')}}"></div>
          </div>
          <h4 class="breakfast_text">JavaScript DeV</h4>
          <div class="seemore_bt"><a href="#">See More</a></div>
        </div>
        <div class="col">
          <div class="service_box">
            <div class="breakfast_img"><img src="{{url_for('static', filename='images/diningtable-img.png')}}"></div>
          </div>
          <h4 class="breakfast_text">Digital Marketer</h4>
          <div class="seemore_bt"><a href="#">See More</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- service section end -->
<!-- blog section start -->
<div class="blog_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="blog_taital">Artisans In city</h1>
      </div>
    </div>
  </div>
</div>
<div class="blog_section_2 layout_padding">
  <div class="container">
    <div class="row">
      {% for service in services %}
           {% include 'service.html' %}
      {%endfor%}
    </div>
  </div>
</div>
<!-- blog section end -->
<!-- shop section start -->
<div class="shop_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="shop_taital">Front-End Engineer <br><span style="color: #18191a;">Service Path App</span></h1>
        <p class="shop_text">Long established fact that a reader will be distracted by the readable content of a page
          when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
          of letters, as</p>
        <div class="app_icon_main">
          <div class="app_icon"><img src="{{url_for('static', filename='images/icon-1.png')}}"></div>
          <div class="app_icon"><img src="{{url_for('static', filename='images/icon-2.png')}}"></div>
        </div>
        <div class="download_bt"><a href="#">Download Now</a></div>
      </div>
      <div class="col-md-6">
        <div class="mobile_img"><img src="{{url_for('static', filename='images/mobile-img.png')}}"></div>
      </div>
    </div>
  </div>
</div>
<!-- shop section end -->
<!-- testimonial section start -->
<div class="testimonial_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="testimonial_taital">Customers Says</h1>
      </div>
    </div>
    <div id="my_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="testimonial_section_2">
            <div class="row">
              <div class="col-md-4">
                <h4 class="customer_text">Loliy Mark</h4>
                <p class="many_text">Now use Lorem Ipsum as their default model text, and a search for 'loremnow use
                  Lorem Ipsum as their default model text, and a search for 'lorem</p>
              </div>
              <div class="col-md-4">
                <h4 class="customer_text">Den Mark</h4>
                <p class="many_text">Now use Lorem Ipsum as their default model text, and a search for 'loremnow use
                  Lorem Ipsum as their default model text, and a search for 'lorem</p>
              </div>
              <div class="col-md-4">
                <h4 class="customer_text">Jonshon Mark</h4>
                <p class="many_text">Now use Lorem Ipsum as their default model text, and a search for 'loremnow use
                  Lorem Ipsum as their default model text, and a search for 'lorem</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial_section_2">
            <div class="row">
              <div class="col-md-4">
                <h4 class="customer_text">Loliy Mark</h4>
                <p class="many_text">Now use Lorem Ipsum as their default model text, and a search for 'loremnow use
                  Lorem Ipsum as their default model text, and a search for 'lorem</p>
              </div>
              <div class="col-md-4">
                <h4 class="customer_text">Den Mark</h4>
                <p class="many_text">Now use Lorem Ipsum as their default model text, and a search for 'loremnow use
                  Lorem Ipsum as their default model text, and a search for 'lorem</p>
              </div>
              <div class="col-md-4">
                <h4 class="customer_text">Jonshon Mark</h4>
                <p class="many_text">Now use Lorem Ipsum as their default model text, and a search for 'loremnow use
                  Lorem Ipsum as their default model text, and a search for 'lorem</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial_section_2">
            <div class="row">
              <div class="col-md-4">
                <h4 class="customer_text">Loliy Mark</h4>
                <p class="many_text">Now use Lorem Ipsum as their default model text, and a search for 'loremnow use
                  Lorem Ipsum as their default model text, and a search for 'lorem</p>
              </div>
              <div class="col-md-4">
                <h4 class="customer_text">Den Mark</h4>
                <p class="many_text">Now use Lorem Ipsum as their default model text, and a search for 'loremnow use
                  Lorem Ipsum as their default model text, and a search for 'lorem</p>
              </div>
              <div class="col-md-4">
                <h4 class="customer_text">Jonshon Mark</h4>
                <p class="many_text">Now use Lorem Ipsum as their default model text, and a search for 'loremnow use
                  Lorem Ipsum as their default model text, and a search for 'lorem</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
        <i class="fa fa-arrow-left"></i>
      </a>
      <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
<!-- testimonial section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
  <div class="container">
    <div class="contact_section_2">
      <div class="row">
        <div class="col-md-12">
          <h1 class="contact_taital">Get In Touch</h1>
          <form action="">
            <div class="mail_section_1">
              <input type="text" class="mail_text" placeholder="Name" name="Name">
              <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number">
              <input type="text" class="mail_text" placeholder="Email" name="Email">
              <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
              <div class="send_bt"><a href="#">SEND</a></div>
            </div>
          </form>
        </div>
      </div>
      <!-- order section start -->
      <div class="order_section">
        <div class="order_taital_main">
          <h1 class="order_taital">CONECT WITH ARTISANS NEAR YOU</h1>
          <div class="order_bt"><a href="#">CONNECT Now</a></div>
        </div>
      </div>
      <!-- order section end -->
    </div>
  </div>
</div>
<!-- contact section end -->
{% endblock %}