{% extends "main.html" %} {% block title %}LOGIN{% endblock %} {% block body %}
 <!-- contact section start -->
 <div class="contact_section layout_padding">
   <div class="container">
      <div class="contact_section_2">
         <div class="row">
            <div class="col-md-12">
               <h1 class="contact_taital">LOGIN ACCOUNT</h1>
               <form method="POST">
                  <div class="mail_section_1">
                     <input type="text" class="mail_text" placeholder="Email" name="email">
                     <input type="password" class="mail_text" placeholder="Password" name="password"> 
                     <p>........</p>
                     <button type="submit" class="btn btn-primary">Login</button>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                  </div>
               </form>
            </div>
         </div>
         <!-- order section start -->
         <div class="order_section">
            <div class="order_taital_main">
               <h1 class="order_taital">CONNECT WITH BEST ARTISANS</h1>
               <div class="order_bt"><a href="#">CONNECT Now</a></div>
            </div>
         </div>
         <!-- order section end -->
      </div>
   </div>
</div>
<!-- contact section end -->
{% endblock %}