<div class="container">
    <div class="menu_main">
             <div class="custome_menu">
                <ul>
                   {% if user.is_authenticated %}
                   <li class="active"><a href="/">Home</a></li>
                   <li><a href="/services">Services</a></li>
                   <li><a href="#">About</a></li>
                   <li><a href="#">Blog</a></li>
                   <li><a href="#">Artisans</a></li>
                   <li><a href="/account">Profile</a></li>
                   <li><a href="/logout">Logout</a></li>
                   {% else %}
                   <li class="active"><a href="/">Home</a></li>
                   <li><a href="/services">Services</a></li>
                   <li><a href="#">About</a></li>
                   <li><a href="#">Blog</a></li>
                   <li><a href="#">Artisans</a></li>
                   <li><a href="/sign-up">Register</a></li>
                </ul>
             </div>
             <div class="login_menu">
                <ul>
                   <li><a href="/login">Login</a></li>
                   {% endif %}
                   <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                </ul>
             </div>
       </div>
</div>