
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}">

<!-- Customizable CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/blue.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.carousel.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.transitions.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/animate.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/rateit.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap-select.min.css')}}">

<!-- Icons/Glyphs -->
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/font-awesome.css')}}">


