<div class="col-md-6">
    {% if service.service_banner %}
    <div class="blog_img"><img src="{{ url_for('static', filename='uploads/' + service.service_banner)}}"></div>
    {% else %}
    <div class="blog_img"><img src="https://bootdey.com/img/Content/avatar/avatar7.png"></div>
    {% endif %}
  </div>
  <div class="col-md-6">
    <div class="blog_taital_main">
      <h1 class="blog_text">{{ service.service_title }}</h1>
      <p class="lorem_text">{{ service.description }}</p>
      <div class="readmore_btn"><a href="#">Read More</a></div>
    </div>
  </div>